@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap');

@import 'tailwindcss';

@theme {
  /* === Paleta de Cores === */
  --color-davys-grey: #4d4d4d;
  --color-vermillion: #cd4631;
  --color-pewter-blue: #81adc8;
  --color-champagne: #f7ede8;
  --color-alice-blue: #edf3f7;

  /* === Tipografia === */
  --font-base-font: 'Montserrat Alternates', sans-serif;

  /* Tamanhos de fonte customizados - Mobile */
  --text-size-display-mobile: 4.5rem;
  --text-size-h1-mobile: 2.5rem;
  --text-size-h2-mobile: 1.25rem;
  --text-size-h3-mobile: 1rem;

  /* Tamanhos de fonte customizados */
  --text-size-display: 6rem;
  --text-size-h1: 3.70625rem;
  --text-size-h2: 2.290625rem;
  --text-size-h3: 1.415625rem;

  /* Espaçamento de letras customizados */
  --tracking-tight: -0.025em;
  --tracking-default: -0.0125em;
}

:root {
  font-family: var(--font-base-font);
}

@layer base {
  /* === Tipografia === */

  .text-display {
    @apply font-bold leading-none text-size-display-mobile sm:text-size-display;
    letter-spacing: var(--tracking-tight);
  }
  .text-h1 {
    @apply font-bold leading-tight text-size-h1-mobile sm:text-size-h1;
    letter-spacing: var(--tracking-tight);
  }
  .text-h2-style-1 {
    @apply font-bold text-size-h2-mobile leading-none sm:text-size-h2;
    letter-spacing: var(--tracking-default);
  }
  .text-h2-style-2 {
    @apply font-bold leading-snug text-size-h2-mobile sm:text-size-h2;
    letter-spacing: var(--tracking-default);
  }
  .text-h3-style-1 {
    @apply font-medium leading-relaxed tracking-normal text-size-h3-mobile sm:text-size-h3;
  }
  .text-h3-style-2 {
    @apply font-bold leading-snug text-size-h3-mobile sm:text-size-h3;
    letter-spacing: var(--tracking-default);
  }
  .text-body-medium {
    @apply text-base font-medium leading-relaxed tracking-normal;
  }
  .text-body-bold {
    @apply text-base font-bold leading-relaxed tracking-normal;
  }
  .text-caption-medium {
    @apply text-sm font-medium leading-relaxed tracking-normal;
  }
  .text-caption-bold {
    @apply text-sm font-bold leading-relaxed tracking-normal;
  }
  .text-small-medium {
    @apply text-xs font-medium leading-relaxed tracking-normal;
  }
  .text-small-bold {
    @apply text-xs font-bold leading-relaxed tracking-normal;
  }

  /* === Botões === */

  .button-black {
    @apply px-6 py-2 text-sm font-bold rounded-lg border-2 border-black cursor-pointer shadow-[6px_6px_0_0_rgba(0,0,0,0.25)] transition-all duration-200 active:translate-y-1 active:shadow-none uppercase tracking-wide bg-black text-white hover:bg-transparent hover:text-black;
  }

  .button-outline {
    @apply px-6 py-2 text-sm font-bold rounded-lg border-2 border-black cursor-pointer shadow-[6px_6px_0_0_rgba(0,0,0,0.25)] transition-all duration-200 active:translate-y-1 active:shadow-none uppercase tracking-wide bg-transparent text-black hover:bg-black hover:text-white;
  }

  .social-platforms-icons {
    @apply text-black hover:text-vermillion transition-colors
    duration-200 ease-in-out;
  }

  /* === Elementos Globais === */

  a {
    @apply text-black hover:text-vermillion transition-colors duration-200 ease-in-out focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-slate-400  focus-visible:ring-offset-2;
  }

  strong {
    @apply text-vermillion;
  }
}
