@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap");

@import "tailwindcss";

@theme {
  --color-DavysGrey: #4d4d4d;
  --color-font-Vermillion: #cd4631;
  --color-PewterBlue: #81adc8;
  --color-background-Champagne: #f7ede8;
  --color-background-AliceBlue: #edf3f7;
  --color-shadow-button: rgba(0, 0, 0, 0.25);

  --font-base-font: "Montserrat Alternates", sans-serif;
}
:root {
  font-family: var(--font-base-font);
}

@layer base {
  .cover-font {
    @apply font-bold text-7xl;
  }
  .button-black {
    @apply px-6 py-2 text-sm font-bold rounded-lg bg-black text-white border-2 border-black cursor-pointer shadow-[6px_6px_0_0_rgba(0,0,0,0.25)] hover:bg-transparent hover:text-black hover:border-2 hover:border-black hover:shadow-[6px_6px_0_0_rgba(0,0,0,0.25)] transition-all duration-200 active:translate-y-1 active:shadow-none relative uppercase tracking-wide;
  }
  .button-outline {
    @apply px-6 py-2 text-sm font-bold rounded-lg bg-transparent text-black border-2 border-black shadow-[6px_6px_0_0_rgba(0,0,0,0.25)] hover:bg-black hover:text-white hover:border-2 hover:border-black hover:shadow-[6px_6px_0_0_rgba(0,0,0,0.25)] transition-all duration-200 active:translate-y-1 active:shadow-none relative uppercase tracking-wide cursor-pointer;
  }
}
